.button {
  cursor: pointer;
}

.item {
  position: relative;
  min-height: 36px;
  padding: 10px 0;
}

.item:nth-child(2n) {
  background-color: lightgray;
}

.controlls {
  display: inline-block;
  vertical-align: middle;
  max-width: 20%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.text {
  display: inline-block;
  max-width: 80%;
  text-align: left;
  vertical-align: middle;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  overflow: scroll;
  max-height: 100%;
}
