.list {
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.input {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: black;
  overflow: hidden;
}

.input form {
  height: inherit;
}

.input input {
  width: 90vw;
  outline: none;
  height: inherit;
  box-sizing: border-box;
  line-height: 50px;
}

.input button {
  background: black;
  color: white;
  width: calc(10vw - 6px);
  border: none;
  height: inherit;
}
